body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: #FBC585;
    padding:0px 130px;
}

.footer {
    background-color: #FBC585;
    padding:0px 130px;
}

.navBar{
    position: relative;
    text-align: center;
    display: flex;
}

.navBar >a{
    margin: auto;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.main {
    background-color: #FBC585;
    min-height: min-content ;
    width: 100%;
}

.conteudoMain{
    padding: 15px;
    display: flex;
    align-items: center;
    
}

.titulo{
    font-size: 50px;
    width: 575px;;
}

.paragrafo{
    padding: 40px 0px;
    font-size: 25px;
    text-align:justify;
}


.subTitulo{
    font-size: 30px;
    text-align: center;
}

.boxWhite{
    padding:30px 130px;
    background-color: white;
}

.boxOrange{
    padding:30px 130px;
    background: #F3EEC3;
}

.boxOrange > p{
    font-size: 25px;
    color: black;
}

.conteudoSec{
    align-items: center;
    display: flex;
}

.footer{
    text-align: center;
    background-color: #FBC585;
    padding:0px 130px;
}

.footer > div{
    padding: 50px;
}

.footer >div >p{
    margin:0px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
}

.button-4 {
appearance: none;
background-color: #f39625;
border: 1px solid rgba(27, 31, 35, 0.15);
border-radius: 6px;
box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
box-sizing: border-box;
color: #24292E;
cursor: pointer;
display: inline-block;
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
font-size: 14px;
font-weight: 500;
line-height: 20px;
list-style: none;
padding: 6px 16px;
position: relative;
transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: middle;
white-space: nowrap;
word-wrap: break-word;
}

.button-4:hover {
background-color: #fba842;
text-decoration: none;
transition-duration: 0.1s;
}

